<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>SettingsInspector</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.SettingsInspector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Settings</string>
	<key>CFBundlePackageType</key>
	<string>????</string>
	<key>CFBundleShortVersionString</key>
	<string>7.6.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>7.6.6</string>
	<key>NSPrincipalClass</key>
	<string>QTPSettingsInspectorFactory</string>
	<key>QTPropertyInspectorName</key>
	<string>Settings</string>
	<key>QTPropertyInspectorSortOrder</key>
	<string>QTOrderLast</string>
</dict>
</plist>
