<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AudioSettings</key>
		<dict>
			<key>DiskFullWarningMB</key>
			<integer>50</integer>
			<key>KbpsPerChannel</key>
			<integer>96</integer>
			<key>NativeFormat</key>
			<false/>
		</dict>
		<key>Description</key>
		<string>qtpCaptureSmallAltDescription</string>
		<key>Identifier</key>
		<string>QTPCapturePresetIdentifierBest</string>
		<key>Name</key>
		<string>qtpCaptureSmallAlt</string>
		<key>VideoSettings</key>
		<dict>
			<key>CompressionData</key>
			<data>
			AAAAAAAAAAAAAAAAAAACYXNlYW4AAAABAAAAAgAAAAAAAAGMdmlk
			ZQAAAAEAAAAMAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAA
			AAAAGAAAAgIAAAAgdHBybAAAAAEAAAAAAAAAAAAAAgAADwAAAAAA
			lgAAACRkcmF0AAAAAQAAAAAAAAAAAAAAAAAAAFMAAAEAAAABAAAA
			ABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAA
			AAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmNmbGcAAAAB
			AAAAAAAAAAAARAAAABhjbWZyAAAAAQAAAAAAAAAAYXBwbAAAABRj
			bHV0AAAAAQAAAAAAAAAAAAAASWNkZWMAAAABAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAApc2VhbgAAAAEAAAABAAAAAAAAABVtb2RlAAAA
			AQAAAAAAAAAAAgAAABx2ZXJzAAAAAQAAAAAAAAAAAAMAGQAAAAAA
			AADBaXNpegAAAAEAAAAGAAAAAAAAABhpd2R0AAAAAQAAAAAAAAAA
			AAAAAAAAABhpaGd0AAAAAQAAAAAAAAAAAAAAAAAAADRjbGFwAAAA
			AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAccGFzcAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAGHNjYW0A
			AAABAAAAAAAAAAAAAAAAAAAAFWRpbnQAAAABAAAAAAAAAAAA
			</data>
			<key>DiskFullWarningMB</key>
			<integer>100</integer>
			<key>Height</key>
			<integer>180</integer>
			<key>NativeFormat</key>
			<false/>
			<key>Width</key>
			<integer>240</integer>
		</dict>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
	</dict>
	<dict>
		<key>AudioSettings</key>
		<dict>
			<key>NativeFormat</key>
			<true/>
		</dict>
		<key>Description</key>
		<string>qtpCaptureNativeDescription</string>
		<key>Identifier</key>
		<string>QTPCapturePresetIdentifierDeviceNative</string>
		<key>Name</key>
		<string>qtpCaptureNative</string>
		<key>VideoSettings</key>
		<dict>
			<key>Height</key>
			<integer>480</integer>
			<key>NativeFormat</key>
			<true/>
			<key>Width</key>
			<integer>640</integer>
		</dict>
	</dict>
</array>
</plist>
