<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QTExpComponentFlags</key>
	<integer>269058064</integer>
	<key>QTExpComponentFlagsMask</key>
	<integer>65741</integer>
	<key>QTExpComponentManufacture</key>
	<integer>1634758764</integer>
	<key>QTExpComponentSubType</key>
	<integer>1768974405</integer>
	<key>QTExpComponentType</key>
	<integer>1936746868</integer>
	<key>QTExpType</key>
	<string>Export</string>
</dict>
</plist>
