<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QTExpAudioCodec</key>
	<string>AAC</string>
	<key>QTExpAudioDataRate</key>
	<integer>6000</integer>
	<key>QTExpAudioNumChannels</key>
	<integer>1</integer>
	<key>QTExpAudioSampleRate</key>
	<integer>32000</integer>
	<key>QTExpComponentFlags</key>
	<integer>269058096</integer>
	<key>QTExpComponentFlagsMask</key>
	<integer>269058096</integer>
	<key>QTExpComponentManufacturer</key>
	<integer>1634758764</integer>
	<key>QTExpComponentSubType</key>
	<integer>1299148630</integer>
	<key>QTExpComponentType</key>
	<integer>1936746868</integer>
	<key>QTExpDataRateCutoff</key>
	<integer>18500</integer>
	<key>QTExpFrameRate</key>
	<integer>10</integer>
	<key>QTExpHeight</key>
	<integer>120</integer>
	<key>QTExpSettings</key>
	<data>
	AAAAAAAAAAAAAAAAAAAfc3NlYW4AAAABAAAABgAAAAAAAAGcdmlkZQAAAAEAAAAPAAAA
	AAAAACJzcHRsAAAAAQAAAAAAAAAAYXZjMQAAAAAAGAAAAgAAAAAgdHBybAAAAAEAAAAA
	AAAAAAAAAgAACgAAAAAAMgAAACRkcmF0AAAAAQAAAAAAAAAAAAAyAP//gAAAAAEAAAAB
	AAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAQAAABZt
	cGVzAAAAAQAAAAAAAAAAAQAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAFmNmbGcAAAABAAAAAAAAAAAARAAAABhjbWZyAAAAAQAAAAAAAAAAYXBw
	bAAAABRjbHV0AAAAAQAAAAAAAAAAAAAAFGNkZWMAAAABAAAAAAAAAAAAAAAcdmVycwAA
	AAEAAAAAAAAAAAADABkAAAAAAAAAFXRybmMAAAABAAAAAAAAAAAAAAAAGHdkdGgAAAAB
	AAAAAAAAAAABQAAAAAAAGGhlZ3QAAAABAAAAAAAAAAAA8AAAAAAAwWlzaXoAAAABAAAA
	BgAAAAAAAAAYaXdkdAAAAAEAAAAAAAAAAAAAAAAAAAAYaWhndAAAAAEAAAAAAAAAAAAA
	AAAAAAA0Y2xhcAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAHHBhc3AAAAABAAAAAAAAAAAAAAAAAAAAAAAAABhzY2FtAAAAAQAAAAAAAAAA
	AAAAAAAAABVkaW50AAAAAQAAAAAAAAAAAAAAG2Zzb3VuAAAAAQAAAAgAAAAAAAAaW2F1
	ZGkAAAABAAAABwAAAAAAAAA8b3NiZAAAAAEAAAAAAAAAAEDfQAAAAAAAYWFjIAAAAAIA
	AAAAAAAEAAAAAAAAAAABAAAAAAAAAAAAABl5Y2RzdAAAAAEAAAAAAAAAADw/eG1sIHZl
	cnNpb249IjEuMCIgZW5jb2Rpbmc9IlVURi04Ij8+CjwhRE9DVFlQRSBwbGlzdCBQVUJM
	SUMgIi0vL0FwcGxlIENvbXB1dGVyLy9EVEQgUExJU1QgMS4wLy9FTiIgImh0dHA6Ly93
	d3cuYXBwbGUuY29tL0RURHMvUHJvcGVydHlMaXN0LTEuMC5kdGQiPgo8cGxpc3QgdmVy
	c2lvbj0iMS4wIj4KPGFycmF5PgoJPGRpY3Q+CgkJPGtleT5jb252ZXJ0ZXI8L2tleT4K
	CQk8c3RyaW5nPlNhbXBsZVJhdGVDb252ZXJ0ZXI8L3N0cmluZz4KCQk8a2V5Pm5hbWU8
	L2tleT4KCQk8c3RyaW5nPlNhbXBsZSBSYXRlIENvbnZlcnRlcjwvc3RyaW5nPgoJCTxr
	ZXk+cGFyYW1ldGVyczwva2V5PgoJCTxhcnJheT4KCQkJPGRpY3Q+CgkJCQk8a2V5PmF2
	YWlsYWJsZSB2YWx1ZXM8L2tleT4KCQkJCTxhcnJheT4KCQkJCQk8c3RyaW5nPkZhc3Rl
	cjwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+RmFzdDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+
	Tm9ybWFsPC9zdHJpbmc+CgkJCQkJPHN0cmluZz5CZXR0ZXI8L3N0cmluZz4KCQkJCQk8
	c3RyaW5nPkJlc3Q8L3N0cmluZz4KCQkJCTwvYXJyYXk+CgkJCQk8a2V5PmN1cnJlbnQg
	dmFsdWU8L2tleT4KCQkJCTxpbnRlZ2VyPjM8L2ludGVnZXI+CgkJCQk8a2V5PmhpbnQ8
	L2tleT4KCQkJCTxpbnRlZ2VyPjA8L2ludGVnZXI+CgkJCQk8a2V5PmtleTwva2V5PgoJ
	CQkJPHN0cmluZz5RdWFsaXR5PC9zdHJpbmc+CgkJCQk8a2V5Pm5hbWU8L2tleT4KCQkJ
	CTxzdHJpbmc+UXVhbGl0eTwvc3RyaW5nPgoJCQkJPGtleT5zdW1tYXJ5PC9rZXk+CgkJ
	CQk8c3RyaW5nPlF1YWxpdHkgc2V0dGluZyBmb3IgdGhlIHNhbXBsZSByYXRlIGNvbnZl
	cnRlci48L3N0cmluZz4KCQkJCTxrZXk+dmFsdWUgdHlwZTwva2V5PgoJCQkJPGludGVn
	ZXI+MTA8L2ludGVnZXI+CgkJCTwvZGljdD4KCQkJPGRpY3Q+CgkJCQk8a2V5PmF2YWls
	YWJsZSB2YWx1ZXM8L2tleT4KCQkJCTxhcnJheT4KCQkJCQk8c3RyaW5nPlByZTwvc3Ry
	aW5nPgoJCQkJCTxzdHJpbmc+Tm9ybWFsPC9zdHJpbmc+CgkJCQkJPHN0cmluZz5Ob25l
	PC9zdHJpbmc+CgkJCQk8L2FycmF5PgoJCQkJPGtleT5jdXJyZW50IHZhbHVlPC9rZXk+
	CgkJCQk8aW50ZWdlcj4xPC9pbnRlZ2VyPgoJCQkJPGtleT5oaW50PC9rZXk+CgkJCQk8
	aW50ZWdlcj4yPC9pbnRlZ2VyPgoJCQkJPGtleT5rZXk8L2tleT4KCQkJCTxzdHJpbmc+
	UHJpbWluZyBNZXRob2Q8L3N0cmluZz4KCQkJCTxrZXk+bmFtZTwva2V5PgoJCQkJPHN0
	cmluZz5QcmltaW5nIE1ldGhvZDwvc3RyaW5nPgoJCQkJPGtleT5zdW1tYXJ5PC9rZXk+
	CgkJCQk8c3RyaW5nPlByaW1pbmcgbWV0aG9kIGZvciB0aGUgc2FtcGxlIHJhdGUgY29u
	dmVydGVyLjwvc3RyaW5nPgoJCQkJPGtleT52YWx1ZSB0eXBlPC9rZXk+CgkJCQk8aW50
	ZWdlcj4xMDwvaW50ZWdlcj4KCQkJPC9kaWN0PgoJCTwvYXJyYXk+CgkJPGtleT52ZXJz
	aW9uPC9rZXk+CgkJPGludGVnZXI+MDwvaW50ZWdlcj4KCTwvZGljdD4KCTxkaWN0PgoJ
	CTxrZXk+Y29udmVydGVyPC9rZXk+CgkJPHN0cmluZz5Db2RlY0NvbnZlcnRlcjwvc3Ry
	aW5nPgoJCTxrZXk+bmFtZTwva2V5PgoJCTxzdHJpbmc+QUFDIEVuY29kZXI8L3N0cmlu
	Zz4KCQk8a2V5PnBhcmFtZXRlcnM8L2tleT4KCQk8YXJyYXk+CgkJCTxkaWN0PgoJCQkJ
	PGtleT5hdmFpbGFibGUgdmFsdWVzPC9rZXk+CgkJCQk8YXJyYXk+CgkJCQkJPHN0cmlu
	Zz5Db25zdGFudCBCaXQgUmF0ZTwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+VmFyaWFibGUg
	Qml0IFJhdGU8L3N0cmluZz4KCQkJCTwvYXJyYXk+CgkJCQk8a2V5PmN1cnJlbnQgdmFs
	dWU8L2tleT4KCQkJCTxpbnRlZ2VyPjA8L2ludGVnZXI+CgkJCQk8a2V5PmhpbnQ8L2tl
	eT4KCQkJCTxpbnRlZ2VyPjU8L2ludGVnZXI+CgkJCQk8a2V5PmtleTwva2V5PgoJCQkJ
	PHN0cmluZz5UYXJnZXQgRm9ybWF0PC9zdHJpbmc+CgkJCQk8a2V5Pm5hbWU8L2tleT4K
	CQkJCTxzdHJpbmc+Qml0IFJhdGUgRm9ybWF0PC9zdHJpbmc+CgkJCQk8a2V5PnN1bW1h
	cnk8L2tleT4KCQkJCTxzdHJpbmc+VGhlIGJpdCByYXRlIGZvcm1hdCBvZiB0aGUgZW5j
	b2RlZCBBQUMgYml0c3RyZWFtPC9zdHJpbmc+CgkJCQk8a2V5PnZhbHVlIHR5cGU8L2tl
	eT4KCQkJCTxpbnRlZ2VyPjEwPC9pbnRlZ2VyPgoJCQk8L2RpY3Q+CgkJCTxkaWN0PgoJ
	CQkJPGtleT5hdmFpbGFibGUgdmFsdWVzPC9rZXk+CgkJCQk8YXJyYXk+CgkJCQkJPHN0
	cmluZz44PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4xNjwvc3RyaW5nPgoJCQkJCTxzdHJp
	bmc+MjA8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjI0PC9zdHJpbmc+CgkJCQkJPHN0cmlu
	Zz4yODwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MzI8L3N0cmluZz4KCQkJCQk8c3RyaW5n
	PjQwPC9zdHJpbmc+CgkJCQkJPHN0cmluZz40ODwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+
	NTY8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjY0PC9zdHJpbmc+CgkJCQkJPHN0cmluZz44
	MDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+OTY8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjEx
	Mjwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MTI4PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4x
	NjA8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjE5Mjwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+
	MjI0PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4yNTY8L3N0cmluZz4KCQkJCTwvYXJyYXk+
	CgkJCQk8a2V5PmN1cnJlbnQgdmFsdWU8L2tleT4KCQkJCTxpbnRlZ2VyPjc8L2ludGVn
	ZXI+CgkJCQk8a2V5PmhpbnQ8L2tleT4KCQkJCTxpbnRlZ2VyPjQ8L2ludGVnZXI+CgkJ
	CQk8a2V5PmtleTwva2V5PgoJCQkJPHN0cmluZz5CaXQgUmF0ZTwvc3RyaW5nPgoJCQkJ
	PGtleT5saW1pdGVkIHZhbHVlczwva2V5PgoJCQkJPGFycmF5PgoJCQkJCTxzdHJpbmc+
	ODwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MTY8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjIw
	PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4yNDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+Mjg8
	L3N0cmluZz4KCQkJCQk8c3RyaW5nPjMyPC9zdHJpbmc+CgkJCQkJPHN0cmluZz40MDwv
	c3RyaW5nPgoJCQkJCTxzdHJpbmc+NDg8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjU2PC9z
	dHJpbmc+CgkJCQkJPHN0cmluZz42NDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+ODA8L3N0
	cmluZz4KCQkJCQk8c3RyaW5nPjk2PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4xMTI8L3N0
	cmluZz4KCQkJCQk8c3RyaW5nPjEyODwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MTYwPC9z
	dHJpbmc+CgkJCQkJPHN0cmluZz4xOTI8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjIyNDwv
	c3RyaW5nPgoJCQkJCTxzdHJpbmc+MjU2PC9zdHJpbmc+CgkJCQk8L2FycmF5PgoJCQkJ
	PGtleT5uYW1lPC9rZXk+CgkJCQk8c3RyaW5nPlRhcmdldCBCaXQgUmF0ZTwvc3RyaW5n
	PgoJCQkJPGtleT5zdW1tYXJ5PC9rZXk+CgkJCQk8c3RyaW5nPlRoZSBiaXQgcmF0ZSBv
	ZiB0aGUgQUFDIHByb2R1Y2VkIGJ5IHRoZSBlbmNvZGVyPC9zdHJpbmc+CgkJCQk8a2V5
	PnVuaXQ8L2tleT4KCQkJCTxzdHJpbmc+a2Jwczwvc3RyaW5nPgoJCQkJPGtleT52YWx1
	ZSB0eXBlPC9rZXk+CgkJCQk8aW50ZWdlcj4xMDwvaW50ZWdlcj4KCQkJPC9kaWN0PgoJ
	CQk8ZGljdD4KCQkJCTxrZXk+YXZhaWxhYmxlIHZhbHVlczwva2V5PgoJCQkJPGFycmF5
	PgoJCQkJCTxzdHJpbmc+UmVjb21tZW5kZWQ8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjgu
	MDAwPC9zdHJpbmc+CgkJCQkJPHN0cmluZz4xMS4wMjU8L3N0cmluZz4KCQkJCQk8c3Ry
	aW5nPjEyLjAwMDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MTYuMDAwPC9zdHJpbmc+CgkJ
	CQkJPHN0cmluZz4yMi4wNTA8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjI0LjAwMDwvc3Ry
	aW5nPgoJCQkJCTxzdHJpbmc+MzIuMDAwPC9zdHJpbmc+CgkJCQkJPHN0cmluZz40NC4x
	MDA8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjQ4LjAwMDwvc3RyaW5nPgoJCQkJPC9hcnJh
	eT4KCQkJCTxrZXk+Y3VycmVudCB2YWx1ZTwva2V5PgoJCQkJPGludGVnZXI+NzwvaW50
	ZWdlcj4KCQkJCTxrZXk+aGludDwva2V5PgoJCQkJPGludGVnZXI+NjwvaW50ZWdlcj4K
	CQkJCTxrZXk+a2V5PC9rZXk+CgkJCQk8c3RyaW5nPlNhbXBsZSBSYXRlPC9zdHJpbmc+
	CgkJCQk8a2V5PmxpbWl0ZWQgdmFsdWVzPC9rZXk+CgkJCQk8YXJyYXk+CgkJCQkJPHN0
	cmluZz5SZWNvbW1lbmRlZDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MjIuMDUwPC9zdHJp
	bmc+CgkJCQkJPHN0cmluZz4yNC4wMDA8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjMyLjAw
	MDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+NDQuMTAwPC9zdHJpbmc+CgkJCQk8L2FycmF5
	PgoJCQkJPGtleT5uYW1lPC9rZXk+CgkJCQk8c3RyaW5nPlNhbXBsZSBSYXRlPC9zdHJp
	bmc+CgkJCQk8a2V5PnN1bW1hcnk8L2tleT4KCQkJCTxzdHJpbmc+VGhlIHNhbXBsZSBy
	YXRlIG9mIHRoZSBBQUMgcHJvZHVjZWQgYnkgdGhlIGVuY29kZXI8L3N0cmluZz4KCQkJ
	CTxrZXk+dW5pdDwva2V5PgoJCQkJPHN0cmluZz5rSHo8L3N0cmluZz4KCQkJCTxrZXk+
	dmFsdWUgdHlwZTwva2V5PgoJCQkJPGludGVnZXI+MTA8L2ludGVnZXI+CgkJCTwvZGlj
	dD4KCQkJPGRpY3Q+CgkJCQk8a2V5PmF2YWlsYWJsZSB2YWx1ZXM8L2tleT4KCQkJCTxh
	cnJheT4KCQkJCQk8c3RyaW5nPk5vbmU8L3N0cmluZz4KCQkJCQk8c3RyaW5nPkJpdCBS
	YXRlPC9zdHJpbmc+CgkJCQkJPHN0cmluZz5TYW1wbGUgUmF0ZTwvc3RyaW5nPgoJCQkJ
	PC9hcnJheT4KCQkJCTxrZXk+Y3VycmVudCB2YWx1ZTwva2V5PgoJCQkJPGludGVnZXI+
	MTwvaW50ZWdlcj4KCQkJCTxrZXk+aGludDwva2V5PgoJCQkJPGludGVnZXI+MTM8L2lu
	dGVnZXI+CgkJCQk8a2V5PmtleTwva2V5PgoJCQkJPHN0cmluZz5QcmVjZWRlbmNlPC9z
	dHJpbmc+CgkJCQk8a2V5Pm5hbWU8L2tleT4KCQkJCTxzdHJpbmc+UHJlY2VkZW5jZTwv
	c3RyaW5nPgoJCQkJPGtleT5zdW1tYXJ5PC9rZXk+CgkJCQk8c3RyaW5nPklmIGVpdGhl
	ciB0aGUgYml0IHJhdGUgb3Igc2FtcGxlIHJhdGUgaXMgYWxsb3dlZCB0byBvdmVycmlk
	ZSB0aGUgb3RoZXIgc2V0dGluZzwvc3RyaW5nPgoJCQkJPGtleT52YWx1ZSB0eXBlPC9r
	ZXk+CgkJCQk8aW50ZWdlcj4xMDwvaW50ZWdlcj4KCQkJPC9kaWN0PgoJCQk8ZGljdD4K
	CQkJCTxrZXk+YXZhaWxhYmxlIHZhbHVlczwva2V5PgoJCQkJPGFycmF5PgoJCQkJCTxz
	dHJpbmc+R29vZDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+QmV0dGVyPC9zdHJpbmc+CgkJ
	CQkJPHN0cmluZz5CZXN0PC9zdHJpbmc+CgkJCQk8L2FycmF5PgoJCQkJPGtleT5jdXJy
	ZW50IHZhbHVlPC9rZXk+CgkJCQk8aW50ZWdlcj4xPC9pbnRlZ2VyPgoJCQkJPGtleT5o
	aW50PC9rZXk+CgkJCQk8aW50ZWdlcj4xPC9pbnRlZ2VyPgoJCQkJPGtleT5rZXk8L2tl
	eT4KCQkJCTxzdHJpbmc+UXVhbGl0eTwvc3RyaW5nPgoJCQkJPGtleT5uYW1lPC9rZXk+
	CgkJCQk8c3RyaW5nPlF1YWxpdHk8L3N0cmluZz4KCQkJCTxrZXk+c3VtbWFyeTwva2V5
	PgoJCQkJPHN0cmluZz5UaGUgcXVhbGl0eSBvZiB0aGUgZW5jb2RlZCBBQUMgYml0c3Ry
	ZWFtPC9zdHJpbmc+CgkJCQk8a2V5PnZhbHVlIHR5cGU8L2tleT4KCQkJCTxpbnRlZ2Vy
	PjEwPC9pbnRlZ2VyPgoJCQk8L2RpY3Q+CgkJCTxkaWN0PgoJCQkJPGtleT5hdmFpbGFi
	bGUgdmFsdWVzPC9rZXk+CgkJCQk8YXJyYXk+CgkJCQkJPHN0cmluZz5Nb25vPC9zdHJp
	bmc+CgkJCQkJPHN0cmluZz5TdGVyZW88L3N0cmluZz4KCQkJCQk8c3RyaW5nPlF1YWRy
	YXBob25pYzwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+QUFDIDQuMDwvc3RyaW5nPgoJCQkJ
	CTxzdHJpbmc+QUFDIDUuMDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+QUFDIDUuMTwvc3Ry
	aW5nPgoJCQkJCTxzdHJpbmc+QUFDIDYuMDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+QUFD
	IDYuMTwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+QUFDIDcuMDwvc3RyaW5nPgoJCQkJCTxz
	dHJpbmc+QUFDIDcuMTwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+QUFDIE9jdGFnb25hbDwv
	c3RyaW5nPgoJCQkJPC9hcnJheT4KCQkJCTxrZXk+Y3VycmVudCB2YWx1ZTwva2V5PgoJ
	CQkJPGludGVnZXI+MDwvaW50ZWdlcj4KCQkJCTxrZXk+aGludDwva2V5PgoJCQkJPGlu
	dGVnZXI+NTwvaW50ZWdlcj4KCQkJCTxrZXk+a2V5PC9rZXk+CgkJCQk8c3RyaW5nPkNo
	YW5uZWwgQ29uZmlndXJhdGlvbjwvc3RyaW5nPgoJCQkJPGtleT5saW1pdGVkIHZhbHVl
	czwva2V5PgoJCQkJPGFycmF5PgoJCQkJCTxzdHJpbmc+TW9ubzwvc3RyaW5nPgoJCQkJ
	PC9hcnJheT4KCQkJCTxrZXk+bmFtZTwva2V5PgoJCQkJPHN0cmluZz5DaGFubmVsIENv
	bmZpZ3VyYXRpb248L3N0cmluZz4KCQkJCTxrZXk+c3VtbWFyeTwva2V5PgoJCQkJPHN0
	cmluZz5UaGUgY2hhbm5lbCBsYXlvdXQgb2YgdGhlIEFBQyBwcm9kdWNlZCBieSB0aGUg
	ZW5jb2Rlcjwvc3RyaW5nPgoJCQkJPGtleT52YWx1ZSB0eXBlPC9rZXk+CgkJCQk8aW50
	ZWdlcj4xMDwvaW50ZWdlcj4KCQkJPC9kaWN0PgoJCTwvYXJyYXk+Cgk8L2RpY3Q+Cjwv
	YXJyYXk+CjwvcGxpc3Q+CgAAADRjbGF5AAAAAQAAAAAAAAAAAGQAAQAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAVdWFjcwAAAAEAAAAAAAAAAAAAAAAVcmVjbwAAAAEA
	AAAAAAAAAAAAAAAYc3JjcQAAAAEAAAAAAAAAAAAAAGAAAAAcdmVycwAAAAEAAAAAAAAA
	AAADABMAAAAAAAAAGHNzY3QAAAABAAAAAAAAAABtcDRhAAAAGHNzcnQAAAABAAAAAAAA
	AAB9AAAAAAAAGHNzaXIAAAABAAAAAAAAAAD/////AAAAFnNzc3MAAAABAAAAAAAAAAAA
	EAAAABZzc2NjAAAAAQAAAAAAAAAAAAEAAABnY2RlYwAAAAEAAAAAAAAAAAAAAAxmcm1h
	bXA0YQAAAAxtcDRhAAAAAAAAADNlc2RzAAAAAAOAgIAiAAAABICAgBRAFQAYAAAAu4AA
	ALuABYCAgAISiAaAgIABAgAAAAgAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwASAAAA
	AAAAABVlbnZpAAAAAQAAAAAAAAAAAQAAABVlbnNvAAAAAQAAAAAAAAAAAQAAAXJzYXZl
	AAAAAQAAAAMAAAAAAAAAFWZhc3QAAAABAAAAAAAAAAABAAAAFnNzdHkAAAABAAAAAAAA
	AAAAAwAAATNoaW50AAAAAQAAAAEAAAAAAAABH2huZXgAAAABAAAABAAAAAAAAAAcdmVy
	cwAAAAEAAAAAAAAAAAABAAcAAAAAAAAAF2V4c3QAAAABAAAAAAAAAAABAAAAAAAgZWhu
	dAAAAAEAAAAAAAAAAD8/Pz8/Pz8/AeFLOAAAALhoaW50AAAAAQAAAAEAAAAAAAAApHJ0
	cCAAAAABAAAAAwAAAAAAAAAcdmVycwAAAAEAAAAAAAAAAAABAAYAAAAAAAAAMHJ0cCAA
	AAABAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARHBrdHoAAAAB
	AAAAAgAAAAAAAAAYbXNpegAAAAEAAAAAAAAAAAAABZ4AAAAYZHVyYQAAAAEAAAAAAAAA
	AAAAAGQ=
	</data>
	<key>QTExpType</key>
	<string>Export</string>
	<key>QTExpVideoCodec</key>
	<string>H.264</string>
	<key>QTExpVideoDataRate</key>
	<integer>12500</integer>
	<key>QTExpWidth</key>
	<integer>160</integer>
</dict>
</plist>
