<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QTExpAudioCodec</key>
	<string>AAC</string>
	<key>QTExpAudioDataRate</key>
	<integer>10000</integer>
	<key>QTExpAudioNumChannels</key>
	<integer>2</integer>
	<key>QTExpAudioSampleRate</key>
	<integer>32000</integer>
	<key>QTExpComponentFlags</key>
	<integer>269058096</integer>
	<key>QTExpComponentFlagsMask</key>
	<integer>269058096</integer>
	<key>QTExpComponentManufacturer</key>
	<integer>1634758764</integer>
	<key>QTExpComponentSubType</key>
	<integer>1299148630</integer>
	<key>QTExpComponentType</key>
	<integer>1936746868</integer>
	<key>QTExpDataRateCutoff</key>
	<integer>37500</integer>
	<key>QTExpFrameRate</key>
	<integer>15</integer>
	<key>QTExpHeight</key>
	<integer>240</integer>
	<key>QTExpSettings</key>
	<data>
	AAAAAAAAAAAAAAAAAAAflnNlYW4AAAABAAAABgAAAAAAAAGcdmlkZQAAAAEAAAAPAAAA
	AAAAACJzcHRsAAAAAQAAAAAAAAAAYXZjMQAAAAAAGAAAAgAAAAAgdHBybAAAAAEAAAAA
	AAAAAAAAAgAADwAAAAAASwAAACRkcmF0AAAAAQAAAAAAAAAAAABuAP//gAAAAAEAAAAB
	AAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAQAAABZt
	cGVzAAAAAQAAAAAAAAAAAQAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAFmNmbGcAAAABAAAAAAAAAAAARAAAABhjbWZyAAAAAQAAAAAAAAAAYXBw
	bAAAABRjbHV0AAAAAQAAAAAAAAAAAAAAFGNkZWMAAAABAAAAAAAAAAAAAAAcdmVycwAA
	AAEAAAAAAAAAAAADABkAAAAAAAAAFXRybmMAAAABAAAAAAAAAAAAAAAAGHdkdGgAAAAB
	AAAAAAAAAAABQAAAAAAAGGhlZ3QAAAABAAAAAAAAAAAA8AAAAAAAwWlzaXoAAAABAAAA
	BgAAAAAAAAAYaXdkdAAAAAEAAAAAAAAAAAAAAAAAAAAYaWhndAAAAAEAAAAAAAAAAAAA
	AAAAAAA0Y2xhcAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAHHBhc3AAAAABAAAAAAAAAAAAAAAAAAAAAAAAABhzY2FtAAAAAQAAAAAAAAAA
	AAAAAAAAABVkaW50AAAAAQAAAAAAAAAAAAAAG4lzb3VuAAAAAQAAAAgAAAAAAAAafmF1
	ZGkAAAABAAAABwAAAAAAAAA8b3NiZAAAAAEAAAAAAAAAAEDfQAAAAAAAYWFjIAAAAAIA
	AAAAAAAEAAAAAAAAAAACAAAAAAAAAAAAABmcY2RzdAAAAAEAAAAAAAAAADw/eG1sIHZl
	cnNpb249IjEuMCIgZW5jb2Rpbmc9IlVURi04Ij8+CjwhRE9DVFlQRSBwbGlzdCBQVUJM
	SUMgIi0vL0FwcGxlIENvbXB1dGVyLy9EVEQgUExJU1QgMS4wLy9FTiIgImh0dHA6Ly93
	d3cuYXBwbGUuY29tL0RURHMvUHJvcGVydHlMaXN0LTEuMC5kdGQiPgo8cGxpc3QgdmVy
	c2lvbj0iMS4wIj4KPGFycmF5PgoJPGRpY3Q+CgkJPGtleT5jb252ZXJ0ZXI8L2tleT4K
	CQk8c3RyaW5nPlNhbXBsZVJhdGVDb252ZXJ0ZXI8L3N0cmluZz4KCQk8a2V5Pm5hbWU8
	L2tleT4KCQk8c3RyaW5nPlNhbXBsZSBSYXRlIENvbnZlcnRlcjwvc3RyaW5nPgoJCTxr
	ZXk+cGFyYW1ldGVyczwva2V5PgoJCTxhcnJheT4KCQkJPGRpY3Q+CgkJCQk8a2V5PmF2
	YWlsYWJsZSB2YWx1ZXM8L2tleT4KCQkJCTxhcnJheT4KCQkJCQk8c3RyaW5nPkZhc3Rl
	cjwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+RmFzdDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+
	Tm9ybWFsPC9zdHJpbmc+CgkJCQkJPHN0cmluZz5CZXR0ZXI8L3N0cmluZz4KCQkJCQk8
	c3RyaW5nPkJlc3Q8L3N0cmluZz4KCQkJCTwvYXJyYXk+CgkJCQk8a2V5PmN1cnJlbnQg
	dmFsdWU8L2tleT4KCQkJCTxpbnRlZ2VyPjI8L2ludGVnZXI+CgkJCQk8a2V5PmhpbnQ8
	L2tleT4KCQkJCTxpbnRlZ2VyPjA8L2ludGVnZXI+CgkJCQk8a2V5PmtleTwva2V5PgoJ
	CQkJPHN0cmluZz5RdWFsaXR5PC9zdHJpbmc+CgkJCQk8a2V5Pm5hbWU8L2tleT4KCQkJ
	CTxzdHJpbmc+UXVhbGl0eTwvc3RyaW5nPgoJCQkJPGtleT5zdW1tYXJ5PC9rZXk+CgkJ
	CQk8c3RyaW5nPlF1YWxpdHkgc2V0dGluZyBmb3IgdGhlIHNhbXBsZSByYXRlIGNvbnZl
	cnRlci48L3N0cmluZz4KCQkJCTxrZXk+dmFsdWUgdHlwZTwva2V5PgoJCQkJPGludGVn
	ZXI+MTA8L2ludGVnZXI+CgkJCTwvZGljdD4KCQkJPGRpY3Q+CgkJCQk8a2V5PmF2YWls
	YWJsZSB2YWx1ZXM8L2tleT4KCQkJCTxhcnJheT4KCQkJCQk8c3RyaW5nPlByZTwvc3Ry
	aW5nPgoJCQkJCTxzdHJpbmc+Tm9ybWFsPC9zdHJpbmc+CgkJCQkJPHN0cmluZz5Ob25l
	PC9zdHJpbmc+CgkJCQk8L2FycmF5PgoJCQkJPGtleT5jdXJyZW50IHZhbHVlPC9rZXk+
	CgkJCQk8aW50ZWdlcj4xPC9pbnRlZ2VyPgoJCQkJPGtleT5oaW50PC9rZXk+CgkJCQk8
	aW50ZWdlcj4yPC9pbnRlZ2VyPgoJCQkJPGtleT5rZXk8L2tleT4KCQkJCTxzdHJpbmc+
	UHJpbWluZyBNZXRob2Q8L3N0cmluZz4KCQkJCTxrZXk+bmFtZTwva2V5PgoJCQkJPHN0
	cmluZz5QcmltaW5nIE1ldGhvZDwvc3RyaW5nPgoJCQkJPGtleT5zdW1tYXJ5PC9rZXk+
	CgkJCQk8c3RyaW5nPlByaW1pbmcgbWV0aG9kIGZvciB0aGUgc2FtcGxlIHJhdGUgY29u
	dmVydGVyLjwvc3RyaW5nPgoJCQkJPGtleT52YWx1ZSB0eXBlPC9rZXk+CgkJCQk8aW50
	ZWdlcj4xMDwvaW50ZWdlcj4KCQkJPC9kaWN0PgoJCTwvYXJyYXk+CgkJPGtleT52ZXJz
	aW9uPC9rZXk+CgkJPGludGVnZXI+MDwvaW50ZWdlcj4KCTwvZGljdD4KCTxkaWN0PgoJ
	CTxrZXk+Y29udmVydGVyPC9rZXk+CgkJPHN0cmluZz5Db2RlY0NvbnZlcnRlcjwvc3Ry
	aW5nPgoJCTxrZXk+bmFtZTwva2V5PgoJCTxzdHJpbmc+QUFDIEVuY29kZXI8L3N0cmlu
	Zz4KCQk8a2V5PnBhcmFtZXRlcnM8L2tleT4KCQk8YXJyYXk+CgkJCTxkaWN0PgoJCQkJ
	PGtleT5hdmFpbGFibGUgdmFsdWVzPC9rZXk+CgkJCQk8YXJyYXk+CgkJCQkJPHN0cmlu
	Zz5Db25zdGFudCBCaXQgUmF0ZTwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+VmFyaWFibGUg
	Qml0IFJhdGU8L3N0cmluZz4KCQkJCTwvYXJyYXk+CgkJCQk8a2V5PmN1cnJlbnQgdmFs
	dWU8L2tleT4KCQkJCTxpbnRlZ2VyPjA8L2ludGVnZXI+CgkJCQk8a2V5PmhpbnQ8L2tl
	eT4KCQkJCTxpbnRlZ2VyPjU8L2ludGVnZXI+CgkJCQk8a2V5PmtleTwva2V5PgoJCQkJ
	PHN0cmluZz5UYXJnZXQgRm9ybWF0PC9zdHJpbmc+CgkJCQk8a2V5Pm5hbWU8L2tleT4K
	CQkJCTxzdHJpbmc+Qml0IFJhdGUgRm9ybWF0PC9zdHJpbmc+CgkJCQk8a2V5PnN1bW1h
	cnk8L2tleT4KCQkJCTxzdHJpbmc+VGhlIGJpdCByYXRlIGZvcm1hdCBvZiB0aGUgZW5j
	b2RlZCBBQUMgYml0c3RyZWFtPC9zdHJpbmc+CgkJCQk8a2V5PnZhbHVlIHR5cGU8L2tl
	eT4KCQkJCTxpbnRlZ2VyPjEwPC9pbnRlZ2VyPgoJCQk8L2RpY3Q+CgkJCTxkaWN0PgoJ
	CQkJPGtleT5hdmFpbGFibGUgdmFsdWVzPC9rZXk+CgkJCQk8YXJyYXk+CgkJCQkJPHN0
	cmluZz4xNjwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MjA8L3N0cmluZz4KCQkJCQk8c3Ry
	aW5nPjI0PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4yODwvc3RyaW5nPgoJCQkJCTxzdHJp
	bmc+MzI8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjQwPC9zdHJpbmc+CgkJCQkJPHN0cmlu
	Zz40ODwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+NTY8L3N0cmluZz4KCQkJCQk8c3RyaW5n
	PjY0PC9zdHJpbmc+CgkJCQkJPHN0cmluZz44MDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+
	OTY8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjExMjwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+
	MTI4PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4xNjA8L3N0cmluZz4KCQkJCQk8c3RyaW5n
	PjE5Mjwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MjI0PC9zdHJpbmc+CgkJCQkJPHN0cmlu
	Zz4yNTY8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjMyMDwvc3RyaW5nPgoJCQkJPC9hcnJh
	eT4KCQkJCTxrZXk+Y3VycmVudCB2YWx1ZTwva2V5PgoJCQkJPGludGVnZXI+OTwvaW50
	ZWdlcj4KCQkJCTxrZXk+aGludDwva2V5PgoJCQkJPGludGVnZXI+NDwvaW50ZWdlcj4K
	CQkJCTxrZXk+a2V5PC9rZXk+CgkJCQk8c3RyaW5nPkJpdCBSYXRlPC9zdHJpbmc+CgkJ
	CQk8a2V5PmxpbWl0ZWQgdmFsdWVzPC9rZXk+CgkJCQk8YXJyYXk+CgkJCQkJPHN0cmlu
	Zz4xNjwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MjA8L3N0cmluZz4KCQkJCQk8c3RyaW5n
	PjI0PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4yODwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+
	MzI8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjQwPC9zdHJpbmc+CgkJCQkJPHN0cmluZz40
	ODwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+NTY8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjY0
	PC9zdHJpbmc+CgkJCQkJPHN0cmluZz44MDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+OTY8
	L3N0cmluZz4KCQkJCQk8c3RyaW5nPjExMjwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MTI4
	PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4xNjA8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjE5
	Mjwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MjI0PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4y
	NTY8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjMyMDwvc3RyaW5nPgoJCQkJPC9hcnJheT4K
	CQkJCTxrZXk+bmFtZTwva2V5PgoJCQkJPHN0cmluZz5UYXJnZXQgQml0IFJhdGU8L3N0
	cmluZz4KCQkJCTxrZXk+c3VtbWFyeTwva2V5PgoJCQkJPHN0cmluZz5UaGUgYml0IHJh
	dGUgb2YgdGhlIEFBQyBwcm9kdWNlZCBieSB0aGUgZW5jb2Rlcjwvc3RyaW5nPgoJCQkJ
	PGtleT51bml0PC9rZXk+CgkJCQk8c3RyaW5nPmticHM8L3N0cmluZz4KCQkJCTxrZXk+
	dmFsdWUgdHlwZTwva2V5PgoJCQkJPGludGVnZXI+MTA8L2ludGVnZXI+CgkJCTwvZGlj
	dD4KCQkJPGRpY3Q+CgkJCQk8a2V5PmF2YWlsYWJsZSB2YWx1ZXM8L2tleT4KCQkJCTxh
	cnJheT4KCQkJCQk8c3RyaW5nPlJlY29tbWVuZGVkPC9zdHJpbmc+CgkJCQkJPHN0cmlu
	Zz44LjAwMDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MTEuMDI1PC9zdHJpbmc+CgkJCQkJ
	PHN0cmluZz4xMi4wMDA8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjE2LjAwMDwvc3RyaW5n
	PgoJCQkJCTxzdHJpbmc+MjIuMDUwPC9zdHJpbmc+CgkJCQkJPHN0cmluZz4yNC4wMDA8
	L3N0cmluZz4KCQkJCQk8c3RyaW5nPjMyLjAwMDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+
	NDQuMTAwPC9zdHJpbmc+CgkJCQkJPHN0cmluZz40OC4wMDA8L3N0cmluZz4KCQkJCTwv
	YXJyYXk+CgkJCQk8a2V5PmN1cnJlbnQgdmFsdWU8L2tleT4KCQkJCTxpbnRlZ2VyPjc8
	L2ludGVnZXI+CgkJCQk8a2V5PmhpbnQ8L2tleT4KCQkJCTxpbnRlZ2VyPjY8L2ludGVn
	ZXI+CgkJCQk8a2V5PmtleTwva2V5PgoJCQkJPHN0cmluZz5TYW1wbGUgUmF0ZTwvc3Ry
	aW5nPgoJCQkJPGtleT5saW1pdGVkIHZhbHVlczwva2V5PgoJCQkJPGFycmF5PgoJCQkJ
	CTxzdHJpbmc+UmVjb21tZW5kZWQ8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjE2LjAwMDwv
	c3RyaW5nPgoJCQkJCTxzdHJpbmc+MjIuMDUwPC9zdHJpbmc+CgkJCQkJPHN0cmluZz4y
	NC4wMDA8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjMyLjAwMDwvc3RyaW5nPgoJCQkJCTxz
	dHJpbmc+NDQuMTAwPC9zdHJpbmc+CgkJCQk8L2FycmF5PgoJCQkJPGtleT5uYW1lPC9r
	ZXk+CgkJCQk8c3RyaW5nPlNhbXBsZSBSYXRlPC9zdHJpbmc+CgkJCQk8a2V5PnN1bW1h
	cnk8L2tleT4KCQkJCTxzdHJpbmc+VGhlIHNhbXBsZSByYXRlIG9mIHRoZSBBQUMgcHJv
	ZHVjZWQgYnkgdGhlIGVuY29kZXI8L3N0cmluZz4KCQkJCTxrZXk+dW5pdDwva2V5PgoJ
	CQkJPHN0cmluZz5rSHo8L3N0cmluZz4KCQkJCTxrZXk+dmFsdWUgdHlwZTwva2V5PgoJ
	CQkJPGludGVnZXI+MTA8L2ludGVnZXI+CgkJCTwvZGljdD4KCQkJPGRpY3Q+CgkJCQk8
	a2V5PmF2YWlsYWJsZSB2YWx1ZXM8L2tleT4KCQkJCTxhcnJheT4KCQkJCQk8c3RyaW5n
	Pk5vbmU8L3N0cmluZz4KCQkJCQk8c3RyaW5nPkJpdCBSYXRlPC9zdHJpbmc+CgkJCQkJ
	PHN0cmluZz5TYW1wbGUgUmF0ZTwvc3RyaW5nPgoJCQkJPC9hcnJheT4KCQkJCTxrZXk+
	Y3VycmVudCB2YWx1ZTwva2V5PgoJCQkJPGludGVnZXI+MTwvaW50ZWdlcj4KCQkJCTxr
	ZXk+aGludDwva2V5PgoJCQkJPGludGVnZXI+MTM8L2ludGVnZXI+CgkJCQk8a2V5Pmtl
	eTwva2V5PgoJCQkJPHN0cmluZz5QcmVjZWRlbmNlPC9zdHJpbmc+CgkJCQk8a2V5Pm5h
	bWU8L2tleT4KCQkJCTxzdHJpbmc+UHJlY2VkZW5jZTwvc3RyaW5nPgoJCQkJPGtleT5z
	dW1tYXJ5PC9rZXk+CgkJCQk8c3RyaW5nPklmIGVpdGhlciB0aGUgYml0IHJhdGUgb3Ig
	c2FtcGxlIHJhdGUgaXMgYWxsb3dlZCB0byBvdmVycmlkZSB0aGUgb3RoZXIgc2V0dGlu
	Zzwvc3RyaW5nPgoJCQkJPGtleT52YWx1ZSB0eXBlPC9rZXk+CgkJCQk8aW50ZWdlcj4x
	MDwvaW50ZWdlcj4KCQkJPC9kaWN0PgoJCQk8ZGljdD4KCQkJCTxrZXk+YXZhaWxhYmxl
	IHZhbHVlczwva2V5PgoJCQkJPGFycmF5PgoJCQkJCTxzdHJpbmc+R29vZDwvc3RyaW5n
	PgoJCQkJCTxzdHJpbmc+QmV0dGVyPC9zdHJpbmc+CgkJCQkJPHN0cmluZz5CZXN0PC9z
	dHJpbmc+CgkJCQk8L2FycmF5PgoJCQkJPGtleT5jdXJyZW50IHZhbHVlPC9rZXk+CgkJ
	CQk8aW50ZWdlcj4xPC9pbnRlZ2VyPgoJCQkJPGtleT5oaW50PC9rZXk+CgkJCQk8aW50
	ZWdlcj4xPC9pbnRlZ2VyPgoJCQkJPGtleT5rZXk8L2tleT4KCQkJCTxzdHJpbmc+UXVh
	bGl0eTwvc3RyaW5nPgoJCQkJPGtleT5uYW1lPC9rZXk+CgkJCQk8c3RyaW5nPlF1YWxp
	dHk8L3N0cmluZz4KCQkJCTxrZXk+c3VtbWFyeTwva2V5PgoJCQkJPHN0cmluZz5UaGUg
	cXVhbGl0eSBvZiB0aGUgZW5jb2RlZCBBQUMgYml0c3RyZWFtPC9zdHJpbmc+CgkJCQk8
	a2V5PnZhbHVlIHR5cGU8L2tleT4KCQkJCTxpbnRlZ2VyPjEwPC9pbnRlZ2VyPgoJCQk8
	L2RpY3Q+CgkJCTxkaWN0PgoJCQkJPGtleT5hdmFpbGFibGUgdmFsdWVzPC9rZXk+CgkJ
	CQk8YXJyYXk+CgkJCQkJPHN0cmluZz5Nb25vPC9zdHJpbmc+CgkJCQkJPHN0cmluZz5T
	dGVyZW88L3N0cmluZz4KCQkJCQk8c3RyaW5nPlF1YWRyYXBob25pYzwvc3RyaW5nPgoJ
	CQkJCTxzdHJpbmc+QUFDIDQuMDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+QUFDIDUuMDwv
	c3RyaW5nPgoJCQkJCTxzdHJpbmc+QUFDIDUuMTwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+
	QUFDIDYuMDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+QUFDIDYuMTwvc3RyaW5nPgoJCQkJ
	CTxzdHJpbmc+QUFDIDcuMDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+QUFDIDcuMTwvc3Ry
	aW5nPgoJCQkJCTxzdHJpbmc+QUFDIE9jdGFnb25hbDwvc3RyaW5nPgoJCQkJPC9hcnJh
	eT4KCQkJCTxrZXk+Y3VycmVudCB2YWx1ZTwva2V5PgoJCQkJPGludGVnZXI+MTwvaW50
	ZWdlcj4KCQkJCTxrZXk+aGludDwva2V5PgoJCQkJPGludGVnZXI+NTwvaW50ZWdlcj4K
	CQkJCTxrZXk+a2V5PC9rZXk+CgkJCQk8c3RyaW5nPkNoYW5uZWwgQ29uZmlndXJhdGlv
	bjwvc3RyaW5nPgoJCQkJPGtleT5saW1pdGVkIHZhbHVlczwva2V5PgoJCQkJPGFycmF5
	PgoJCQkJCTxzdHJpbmc+U3RlcmVvPC9zdHJpbmc+CgkJCQk8L2FycmF5PgoJCQkJPGtl
	eT5uYW1lPC9rZXk+CgkJCQk8c3RyaW5nPkNoYW5uZWwgQ29uZmlndXJhdGlvbjwvc3Ry
	aW5nPgoJCQkJPGtleT5zdW1tYXJ5PC9rZXk+CgkJCQk8c3RyaW5nPlRoZSBjaGFubmVs
	IGxheW91dCBvZiB0aGUgQUFDIHByb2R1Y2VkIGJ5IHRoZSBlbmNvZGVyPC9zdHJpbmc+
	CgkJCQk8a2V5PnZhbHVlIHR5cGU8L2tleT4KCQkJCTxpbnRlZ2VyPjEwPC9pbnRlZ2Vy
	PgoJCQk8L2RpY3Q+CgkJPC9hcnJheT4KCTwvZGljdD4KPC9hcnJheT4KPC9wbGlzdD4K
	AAAANGNsYXkAAAABAAAAAAAAAAAAZQACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAABV1YWNzAAAAAQAAAAAAAAAAAAAAABVyZWNvAAAAAQAAAAAAAAAAAAAAABhzcmNx
	AAAAAQAAAAAAAAAAAAAAQAAAABx2ZXJzAAAAAQAAAAAAAAAAAAMAEwAAAAAAAAAYc3Nj
	dAAAAAEAAAAAAAAAAG1wNGEAAAAYc3NydAAAAAEAAAAAAAAAAH0AAAAAAAAYc3NpcgAA
	AAEAAAAAAAAAAP////8AAAAWc3NzcwAAAAEAAAAAAAAAAAAQAAAAFnNzY2MAAAABAAAA
	AAAAAAAAAgAAAGdjZGVjAAAAAQAAAAAAAAAAAAAADGZybWFtcDRhAAAADG1wNGEAAAAA
	AAAAM2VzZHMAAAAAA4CAgCIAAAAEgICAFEAVABgAAAE4gAABOIAFgICAAhKQBoCAgAEC
	AAAACAAAAAAAAAAcdmVycwAAAAEAAAAAAAAAAAADABIAAAAAAAAAFWVudmkAAAABAAAA
	AAAAAAABAAAAFWVuc28AAAABAAAAAAAAAAABAAABcnNhdmUAAAABAAAAAwAAAAAAAAAV
	ZmFzdAAAAAEAAAAAAAAAAAEAAAAWc3N0eQAAAAEAAAAAAAAAAAADAAABM2hpbnQAAAAB
	AAAAAQAAAAAAAAEfaG5leAAAAAEAAAAEAAAAAAAAABx2ZXJzAAAAAQAAAAAAAAAAAAEA
	BQAAAAAAAAAXZXhzdAAAAAEAAAAAAAAAAAEAAAAAACBlaG50AAAAAQAAAAAAAAAAPz8/
	Pz8/Pz8B4Us4AAAAuGhpbnQAAAABAAAAAQAAAAAAAACkcnRwIAAAAAEAAAADAAAAAAAA
	ABx2ZXJzAAAAAQAAAAAAAAAAAAEABgAAAAAAAAAwcnRwIAAAAAEAAAAAAAAAAAAAAAAA
	AAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEcGt0egAAAAEAAAACAAAAAAAAABhtc2l6
	AAAAAQAAAAAAAAAAAAAFngAAABhkdXJhAAAAAQAAAAAAAAAAAAAAZA==
	</data>
	<key>QTExpType</key>
	<string>Export</string>
	<key>QTExpVideoCodec</key>
	<string>H.264</string>
	<key>QTExpVideoDataRate</key>
	<integer>27500</integer>
	<key>QTExpWidth</key>
	<integer>320</integer>
</dict>
</plist>
