<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleDevelopmentRegion</key>
<string>en-US</string>
<key>CFBundleIdentifier</key>
<string>com.apple.QuickTimePlayer.help</string>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundleName</key>
<string>QuickTimePlayer</string>
<key>CFBundlePackageType</key>
<string>BNDL</string>
<key>CFBundleShortVersionString</key>
<string>1.0</string>
<key>CFBundleSignature</key>
<string>hbwr</string>
<key>CFBundleVersion</key>
<string>1.6tsl</string>
<key>HPDBookAccessPath</key>
<string>QuickTimeHelp.html</string>
<key>HPDBookIconPath</key>
<string>Shared/QTIcon.png</string>
<key>HPDBookIndexPath</key>
<string>QuickTimePlayer.helpindex</string>
<key>HPDBookKBProduct</key>
<string>kqt7</string>
<key>HPDBookRemoteURL</key>
<string>https://helposx.apple.com/snowleopard/com.apple.QuickTimePlayer.help/r1/</string>
<key>HPDBookTitle</key>
<string>QuickTime Player Help</string>
<key>HPDBookType</key>
<string>3</string>
</dict>
</plist>